# **DICTIONARY**

A unique data structure which is not available in other programming languages but available in Python is called a Dictionary. It is considered as the king of data structures in Python because it is the only standard mapping type. A dictionary has a group of elements which are arranged in the form of **key-value** pairs. Thus, there are three special objects for dictionary: **keys, values and items**.

In [ ]:
# how to define
dic={}
print(type(dic))

dic1=dict()
print(type(dic1))

<class 'dict'>
<class 'dict'>

In [ ]:
# key:value
# name:'sara'
# age:21
student={'roll_no':1,'name':'Afinu','age':21}
print(student)

# support heterogeneous data

{'roll_no': 1, 'name': 'Afinu', 'age': 21}

In [ ]:
# allow duplicates or not
stud={'roll_no':1,'f_name':'Afinu','age':21,'age':22,'l_name':'Afinu'}
print(stud)

# duplicate keys are not allowed
# duplicate values are allowed

{'roll_no': 1, 'f_name': 'Afinu', 'age': 22, 'l_name': 'Afinu'}

In [ ]:
# insertion order is preserved

In [ ]:
# mutable
s={'roll_no':1,'name':'Afinu','age':21,'subject':'Python basics','mark':50}
print(s)
print("Name :",s['name'])  # To print a particular value corresponding key can be used
print("Subject :",s['subject'])

{'roll_no': 1, 'name': 'Afinu', 'age': 21, 'subject': 'Python basics', 'mark': 50}
Name : Afinu
Subject : Python basics

In [ ]:
# update the value of age from 21 to 25
s['age']=25
print(s)

{'roll_no': 1, 'name': 'Afinu', 'age': 25, 'subject': 'Python basics', 'mark': 50}

Accessing dictionary elements using for loop

In [ ]:
# print the keys and values in a dictionary
st={'roll_no':1,'name':'Afinu','age':21,'subject':'Python basics','mark':50}

for i in st:
  print(i) # print the keys of dictionary

roll_no
name
age
subject
mark

In [ ]:
st={'roll_no':1,'name':'Afinu','age':21,'subject':'Python basics','mark':50}

for i in st:
  print(st[i]) # print the values of dictionary

1
Afinu
21
Python basics
50

In [ ]:
st={'roll_no':1,'name':'Afinu','age':21,'subject':'Python basics','mark':50}

for i in st:
  print(i,":",st[i]) # print the keys and values of dictionary

roll_no : 1
name : Afinu
age : 21
subject : Python basics
mark : 50

Accessing dictionary elements using functions

In [ ]:
book={'name':'Python','author':'Bharati','publisher':'Wiley'}
print("Keys in this dictionary are :",book.keys())

Keys in this dictionary are : dict_keys(['name', 'author', 'publisher'])

In [ ]:
print("Values in this dictionary are :",book.values())

Values in this dictionary are : dict_values(['Python', 'Bharati', 'Wiley'])

In [ ]:
print("Key-value pairs in this dictionary are :",book.items())

Key-value pairs in this dictionary are : dict_items([('name', 'Python'), ('author', 'Bharati'), ('publisher', 'Wiley')])

**Functions for Dictionary**

In [ ]:
stud={'roll_no':1,'name':'Afinu','age':21}
print(stud)

{'roll_no': 1, 'name': 'Afinu', 'age': 21}

In [ ]:
# Addition of new key-value pair to the dictionary
stud['subject']='Data Science'
print(stud)

{'roll_no': 1, 'name': 'Afinu', 'age': 21, 'subject': 'Data Science'}

In [ ]:
#Modification in value of key named age
stud['age']=22
print(stud)

{'roll_no': 1, 'name': 'Afinu', 'age': 22, 'subject': 'Data Science'}

In [ ]:
# get() function is used to fetching the value of specified key
print("The value of subject is",stud.get('subject'))

The value of subject is Data Science

In [ ]:
# len() function is used to determine the length of dictionary
print(len(stud))

4

In [ ]:
# sorted() function is used to sort keys in alphabetic order
print(sorted(stud))

['age', 'name', 'roll_no', 'subject']

In [ ]:
# pop() function is used to remove a particular key
print(stud.pop('age'))

22

In [ ]:
print(stud)

{'roll_no': 1, 'name': 'Afinu'}

In [ ]:
stud['age']=21
stud['subject']='Data science'
print(stud)

{'roll_no': 1, 'name': 'Afinu', 'age': 21, 'subject': 'Data science'}

In [ ]:
# copy() function is used to copy a dictionary to another dictionary
stud_new=stud.copy()
print(stud_new)

{'roll_no': 1, 'name': 'Afinu', 'age': 21, 'subject': 'Data science'}

In [ ]:
# the "in" is used to determine the existence of key in dictionary
print("Does name key exist in dictionary",'name' in stud)
print("Does gender key exist in dictionary",'gender' in stud)

Does name key exist in dictionary True
Does gender key exist in dictionary False

Programs

In [ ]:
# program to determine the total amount of all products
p={'Book':800,'Shirt':1000,'Mobile':15000,'Laptop':35000}
print("Details of products: ",p.items())
print("Total amount=",sum(p.values()))

Details of products:  dict_items([('Book', 800), ('Shirt', 1000), ('Mobile', 15000), ('Laptop', 35000)])
Total amount= 51800

In [ ]:
# Program to determine the upper and lower case letters in a sentence
dict={'upper':0,'lower':0}
s=input("Enter the sentence ")

for x in s:
  if x.isupper():
    dict['upper']+=1
  elif x.islower():
    dict['lower']+=1
  else:
    pass

print("Total number of uppercase letters:",dict['upper'])
print("Total number of lowercase letters:",dict['lower'])

Enter the sentence gy LO
Total number of uppercase letters: 2
Total number of lowercase letters: 2

In [ ]:
# Program to calculate the number of letters and digits in a string
st=input("Enter the alphanumeric string ")
dic={'number':0,'letters':0}

for x in st:
  if x.isdigit():
    dic['number']+=1
  elif x.isalpha():
    dic['letters']+=1
  else:
    pass

print("Thotal number of digits:",dic['number'])
print("Thotal number of alphabets:",dic['letters'])

Enter the alphanumeric string anu 456
Thotal number of digits: 3
Thotal number of alphabets: 3

In [ ]:
# program to sort dictionary item by value
product={'Book':800,'Shirt':1000,'Mobile':15000,'Laptop':35000}
print(product.items())

print(sorted(product.items()))

dict_items([('Book', 800), ('Shirt', 1000), ('Mobile', 15000), ('Laptop', 35000)])
[('Book', 800), ('Laptop', 35000), ('Mobile', 15000), ('Shirt', 1000)]

In [ ]:
print(sorted(product.items(),reverse=True))

[('Shirt', 1000), ('Mobile', 15000), ('Laptop', 35000), ('Book', 800)]