# **"for" Loop**

In [ ]:
for i in range(1,11):   #if we want to print 10 times, then put 11 in "for" loop. Default step value is 1. 
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(1,11,2):  #step size is 2. Then 1st, 3rd, 5th,7th and 9th Hello are printed.
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
a="Hello World"
for i in a:
  print(i)

H
e
l
l
o

W
o
r
l
d

print 1 to 20 using for loop

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

print the multiple of 3 between 3 and 30

In [ ]:
for i in range(3,31,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

print numbers with in a given limit

In [ ]:
limit=int(input("Enter the limit"))
for i in range(1,limit+1):
  print(i)

Enter the limit6
1
2
3
4
5
6

print the numbers between two limits

In [ ]:
lower=int(input("Enter the lower limit"))
upper=int(input("Enter the upper limit"))
for i in range(lower,upper+1):
  print(i)

Enter the lower limit4
Enter the upper limit7
4
5
6
7

program for printing the table of a number

In [ ]:
num=int(input("Enter the number to print the table"))
for i in range(1,11):
  print(num,"*",i,"=",num*i)

Enter the number to print the table4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
num=int(input("Enter the number to print the table"))
for i in range(1,11,2):
  print(num,"*",i,"=",num*i)

Enter the number to print the table5
5 * 1 = 5
5 * 3 = 15
5 * 5 = 25
5 * 7 = 35
5 * 9 = 45

Program to print the sum of series 1+2+3+...+n

In [ ]:
limit=int(input("Enter the last number of series"))
sum=0
for i in range(1,limit+1):
  sum=sum+i
print("Total sum=",sum)

Enter the last number of series5
Total sum= 15

Program to generate FIBONACCI series(0,1,1,2,3,5,8 etc.) 
0, 1, 0+1, 1+1, 1+2, 2+3

In [ ]:
num=int(input("Enter the limit of fibonacci series to be printed: "))
a=0
b=1
print(a)
print(b)
for k in range(3,num+1):
  c=a+b
  print(c)
  a=b
  b=c

Enter the limit of fibonacci series to be printed: 5
0
1
1
2
3

Print the Factorial of a number

In [ ]:
num=int(input("Enter the limit of fibonacci series to be printed: "))
fact=1
for i in range(1,num+1):
  fact=fact*i
print("Factorial of",num,"=",fact)  #print function outside the loop

Enter the limit of fibonacci series to be printed: 3
Factorial of 3 = 6

In [ ]:
num=int(input("Enter the limit of fibonacci series to be printed: "))
fact=1
for i in range(1,num+1):
  fact=fact*i
  print("Factorial =",fact) #print function inside loop

Enter the limit of fibonacci series to be printed: 3
Factorial = 1
Factorial = 2
Factorial = 6