# **TUPLE**

A tuple is a collection of objects separated by comma inside the parantheses

In [ ]:
#How to define
tp=() # 1st method
tp1=tuple() # 2nd method

print(type(tp))
print(type(tp1))

<class 'tuple'>
<class 'tuple'>

In [ ]:
#whether supoort heterogeneous data or not
tp=(1,2,5.1,8606510640,'sharon',True)
print(tp)
#support heterogeneous data
# Insertion order is preserved

(1, 2, 5.1, 8606510640, 'sharon', True)

In [ ]:
# Whether allow duplicates or not
tp=(1,1,8,8,4.5)
print(tp)
#allow duplicates

(1, 1, 8, 8, 4.5)

In [ ]:
#mutable or not
tp=(10,20,30,40,'sharon',60)
#print(tp[4])
#tp[4]=50
#print(tp)
# tuple is immutable   (difference between list and tuple -> list is mutable whereas tuple is immutable)

Creating tuple with tuple() and range() function

In [ ]:
tp2=tuple(range(5,15))  #print numbers from 5 to 14
print(tp2)

tp3=tuple(range(5,15,2))
print(tp3)

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
(5, 7, 9, 11, 13)

**Q. Consider a tuple tp=(10,20,30,40,50,60,70,80,90,100). Update the value  30 to 100.**

In [ ]:
tp=(10,20,30,40,50,60,70,80,90,100)
# tuple is immutable so we can not update it directly.
# Firstly, convert the tuple into a list using list() function.
lst=list(tp)
# Then update the value in list.
lst[2]=100
print(lst)
# Then convert the list into tuple again because the answer should be in tuple.
tp1=tuple(lst)
print(tp1)

[10, 20, 100, 40, 50, 60, 70, 80, 90, 100]
(10, 20, 100, 40, 50, 60, 70, 80, 90, 100)

Concatenation of tuples to create a new tuple

In [ ]:
t1=(1,2,3,4,5,6,7)
t2=(45,78,'sharon')
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 45, 78, 'sharon')

Program to access the items in a tuple

In [ ]:
tp=(1,2,3.4,567890987,'Data science',True)
for i in tp:
  print(i)

1
2
3.4
567890987
Data science
True

Program for repetition and determining the existence (using **in**) in tuple

In [ ]:
t=(10,20,30)
t1=t*3 #repetition of tuple 3 times using * symbol
print(t1)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [ ]:
t1=(10,20,30,40,50)
t2=(100,200,300,400,500)
print("The element 12 exists in the tuple:",12 in t1)
print("The element 100 exists in the tuple:",100 in t2)

The element 12 exists in the tuple: False
The element 100 exists in the tuple: True

**FUNCTIONS**

In [ ]:
tup=(100,200,350,100,459,111,96,900,679,679)

print("Sum=",sum(tup)) # sum of all elements of a tuple

Sum= 3674

In [ ]:
print("Maximum no. in the tuple=",max(tup))

Maximum no. in the tuple= 900

In [ ]:
print("Minimum no. in the tuple=",min(tup))

Minimum no. in the tuple= 96

In [ ]:
print("Length of the tuple=",len(tup))

Length of the tuple= 9

In [ ]:
print("Number of times 679 occured in tuple:",tup.count(679))

Number of times 679 occured in tuple: 2

In [ ]:
print("The first position of element 100 in tuple",tup.index(100))

The first position of element 100 in tuple 0

In [ ]:
print("The  position of element 111 in tuple",tup.index(111))

The  position of element 111 in tuple 5

In [ ]:
print(sorted(tup)) # Ascending order (default)

[96, 100, 100, 111, 200, 350, 459, 679, 679, 900]

In [ ]:
print(sorted(tup,reverse=True)) # Descending order

[900, 679, 679, 459, 350, 200, 111, 100, 100, 96]

Program to compare two tuples

In [ ]:
t1=('suhaan','rahul','diya')
t2=('Rahul','ravi','rani','diya')
for i in t1:
  for j in t2:
    if(i==j):
      print("Both the tuples have common name as",i)

Both the tuples have common name as diya

In [ ]:
t1=('suhaan','Rahul','diya')
t2=('Rahul','ravi','rani','diya')
for i in t1:
  for j in t2:
    if(i==j):
      print("Both the tuples have common name as",i)

Both the tuples have common name as Rahul
Both the tuples have common name as diya